<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="EntryTime">Entry Time:</label>
                <p-calendar [(ngModel)]="Patron.entryDate" showTime="showTime" hourFormat="24" id="EntryTime" required name="entryDate"></p-calendar>
            </div>
            <div class="form-group">
                <label for="ExitTime">Entry Time:</label>
                <p-calendar [(ngModel)]="Patron.exitDate" showTime="showTime" hourFormat="24" id="ExitTime" required name="exitDate"></p-calendar>
            </div>
            <button type="submit" class="btn btn-default" (click)="onSubmit()">Submit</button>
        </form>
        <ng-template #error>
            <div class="alert alert-warning" *ngIf="errorMessage"> {{errorMessage}}</div>
        </ng-template>
        <div *ngIf="Result;else error;">
            <div class="jumbotron">
                <h2>
                    Total Amount : {{Result.totalPrice | currency:'AUD':true}}
                </h2>
                <h2>
                    Rule Name : {{Result.ruleName}}

                </h2>
            </div>

        </div>

    </div>
</div>